@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-primary: #1C1B23;
  --font-secondary: #686868;
  --primary-light: #fff;
  --secondary-light: #fbe8de;
  --primary-accent: #7843e9;
  --secondary-accent: #7536fc;
  --primary-background: rgba(149, 149, 149, 0.216);
  --borderRadius-small: 5px;
  --borderRadius-medium: 12px;
  --borderRadius-large: 20px;
  --spacing: 6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--font-primary);
  background-image: url(/grainy_texture.png);
}

#portfolio {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

main {
  flex: 1;
}

main div:where(.incline) {
  background-image: url(/grainy_texture.png), linear-gradient(var(--secondary-light), var(--secondary-light));
}

main div:where(.decline) {
  background-image: url(/grainy_texture.png),linear-gradient(var(--primary-light), var(--primary-light));
}

main section:nth-of-type(even) {
  background-image: url(/grainy_texture.png), linear-gradient(var(--secondary-light), var(--secondary-light));
}

.decline + section {
  padding-top: var(--spacing);
}

section h2 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
  margin-block: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: .6rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: .8rem;
  font-weight: 600;
}

img {
  max-width: 100%;
}

a:hover {
  filter: brightness(75%);
  transition: .3s ease-in;
} 

a {
  transition: .3s ease-in;
}

.arrow-icon {
  max-width: 3.5rem;
  cursor: pointer; 
}

.hidden {
  display: none;
}

%btn {
  font-weight: 600;
  padding: .8rem 1.2rem;
  border-radius: var(--borderRadius-medium);
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid var(--primary-accent);
}

.gray {
  background-image: url(/grainy_texture.png), linear-gradient(var(--primary-light), var(--primary-light));
}

.pink {
  background-image: url(/grainy_texture.png), linear-gradient(var(--secondary-light), var(--secondary-light));
}

.carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 1000px) {
  .arrow-icon {
    max-width: 4rem;
  }
}

@media (min-width: 1800px) {
  body {
    max-width: 1500px;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}